<!doctype html>
<html>
<head>
    <title>Degustibus</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#refresh_elastic").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "GET",
                    url: "refresh_elastic",
                    success: function (result) {
                    },
                    error: function (result) {
                    }
                });
            });
        });

    </script>
</head>
<body>

<nav>
    <a href="/admin">ADMIN</a>
</nav>
<button id="refresh_elastic">
    REFRESH ELASTIC
</button>

{% block content %}{% endblock %}

</body>
</html>


